@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/**/

body {
    cursor: auto;
    background-color: #212529;
    box-shadow: none;
    background-image: none;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
}

  .MP_breadcrumbs{
    margin-top: 2%;
    display: flex;
    justify-content: flex-start;
    padding-left: 2%;
  }

  .MP_Finder {
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .cards{
    display: grid;
    padding: 0px 5%;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
  }