@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/**/

body {
    cursor: auto;
    background-color: #212529;
    box-shadow: none;
    background-image: none;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
}

  .MP_breadcrumbs{
    display: flex;
    justify-content: flex-start;
    padding-left: 2%;
    margin-bottom: 20px;
  }

  .MP_Finder {
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    margin-bottom: 10px;
  }

  .cards{
    display: grid;
    padding: 0px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }